<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Callix</title>
    <link rel="icon" type="image/svg+xml" href="https://image.flaticon.com/icons/svg/861/861054.svg" />


    <style>
        body {
            background-color: green;
        }
        h1  {
            color: rgb(36, 36, 139);
        }
        p  {
            color: green;
        }
        .btn-group{
            background-color: green;
        }
    </style>


</head>

<body>
    <div class = 'container'>
        <div class='row center'>

        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <h1> <img src="https://image.flaticon.com/icons/svg/861/861054.svg" alt="Imagem" width="128" height="128"> CALLIX</h1>
        <h3> Intelligent Farms, <br> Better Lives. </h3>

        <form action="{% url "index" %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary" >
                    {% bootstrap_icon "apple" %} Enviar Maçã
                {% endbuttons %}

        </form>

        {% if documents %}

            <ul>
                {% for document in documents reversed %}
                        <li>
                            <img src="{{ document.docfile.url }}" alt="Imagem" width="150" height="150">
                            <a   href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
                            <h4> Classificação: <b> {{document.classification}} </b> </h4>
                        </li>

                {% endfor %}

            </ul>
        {% else %}
            <p>Nenhuma maçã adicionada .</p>
        {% endif %}
        
        <footer>
            <p> <img src="https://image.flaticon.com/icons/svg/1129/1129139.svg" alt="Imagem" width="42" height="42">
                Made by Replicants 
                <img src="https://image.flaticon.com/icons/svg/1129/1129139.svg" alt="Imagem" width="42" height="42">
            </p>
        </footer>

        </div>
    </div>
</body>

</html>